{% extends 'DdrGeoExampleBaseBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ city.name }}</h1>
    </div>

    <section>
        <h2>Info</h2>
        <p>Latitude: {{ city.lat }}</p>
        <p>Longitude: {{ city.lng }}</p>
        <p>County: {{ city.county_name }}</p>
        <p>State: {{ city.state_name }}</p>
    </section>

    <section>
        <h2>Nearby Cities</h2>
        <ul>
            {% for nearbyCity in nearbyCities %}
                <li><a href="{{ path('ddr_geo_example_city_detail', {'id': nearbyCity.id}) }}">{{ nearbyCity.name }} [{{ nearbyCity.distance }}km]</a></li>
                {% endfor %}
        </ul>
    </section>
{% endblock %}